body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background: green;
}

#homepage {
	width: 100%;
	height: 100%;
	color: #ffffff;
	z-index: 101;
	top: 0;
	left: 0;
	position: absolute;
	font-family: "Roboto Mono", monospace;
	background: green;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	opacity: 1;
	h1 a {
		color: #ffffff;
	}

	h2 span {
		cursor: pointer;
	}

	h1 span {
		cursor: default;
		opacity: 0;
		animation: fadeIn 2s;
		animation-fill-mode: forwards;
	}

	h1 a {
		opacity: 0;

		animation: fadeIn 2s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	h2 {
		opacity: 0;
		animation: fadeIn 2s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#content {
	height: 100%;
}

#credit {
	position: absolute;
	z-index: 100;
	bottom: 10px;
	left: 10px;
	color: #ffffff;
	font-family: "Roboto Mono", monospace;
	font-weight: 500;
	font-size: 16px;
	padding: 25px;
}

#credit a {
	/* text-decoration: none; */
	color: #ffffff;
}
#go {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}

#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* audio {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
} */

audio {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#range {
	position: absolute;
	right: 75px;
	z-index: 100;
	height: 100%;
	width: 25px;
	cursor: pointer;
	input {
		transform: rotate(90deg);
		position: absolute;
		top: 50%;
		right: calc((-0.8 * 50vh) - 12px);
		width: calc(0.8 * 100vh);
		&:focus {
			outline: none;
		}
	}
	input[type="range"] {
		-webkit-appearance: none;
		background: transparent;
		height: 2px;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 5%,
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0) 95%
		);
		cursor: pointer;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background: #ffffff;
		/* box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.5); */
	}
}

#range input:focus {
	outline: none;
}

#overlay {
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 100;
	display: flex;
}

#overlay > div {
	cursor: pointer;
	margin-right: 15px;
}

#overlay > div .btn {
	width: 50px;
	height: 50px;
}

svg {
	width: 100%;
	height: 100%;
}

#overlay .time.pause .pause {
	display: none;
}

#overlay .time:not(.pause) .play {
	display: none;
}

body:not(.safari) #start {
	background: #ffffff;
	color: #000;
	padding: 4px 8px;
	/* 	border-radius:4px; */
	position: relative;
	border: 2px #000 solid;
}

body:not(.safari) #start:hover {
	color: #ffffff;
	background: #000;
	transition: 0.25s;
	top: 4px;
	left: 4px;
	border: 2px #000 solid;
}

body:not(.safari) #start::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 100%;
	height: 100%;
	/* 	background:red; */
	z-index: -1;
	border: 2px #ffffff solid;
}

body:not(.safari) #start:hover::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/* 	background:red; */
	z-index: -1;
	border: 2px #ffffff solid;
}

* {
	box-sizing: border-box;
}

#overlay {
	.btn {
		position: relative;
		background: #fff;
		border: #000 solid 2px;
		svg .shape {
			fill: #000;
		}
		&:hover {
			background: #000;
			transition: 0.25s;
			top: 4px;
			left: 4px;
			svg .shape {
				fill: #ffffff;
				transition: 0.25s;
			}
			&::after {
				top: 0px;
				left: 0px;
			}
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			top: 4px;
			left: 4px;
			border: #ffffff solid 2px;
			position: absolute;
			z-index: -1;
		}
	}
}
